@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #00A859;
  --primary-hover: #008F4C;
  --sidebar-bg: #ffffff;
  --inbox-bg: #ffffff;
  --detail-bg: #ffffff;
  --border-color: #f1f1f1;
}

body {
  background: #fdfdfd;
  color: #333333;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #e0e0e0;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #d0d0d0;
}
